{% extends 'index.html.twig' %}
{% block content %}
    <form action="" method="post" autocomplete="off">
        <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
                <label for="currency">Converter</label>
                <select class="custom-select d-block w-100" name="currency" id="currency" required>
                    <option value="None" disabled selected>Select your option</option>
                    <option value="USD">USD</option>
                    <option value="JPY">JPY</option>
                    <option value="BGN">BGN</option>
                    <option value="CZK">CZK</option>
                    <option value="DKK">DKK</option>
                    <option value="GBP">HUF</option>
                    <option value="PLN">PLN</option>
                    <option value="RON">RON</option>
                    <option value="SEK">SEK</option>
                    <option value="CHF">CHF</option>
                    <option value="ISK">ISK</option>
                    <option value="NOK">NOK</option>
                    <option value="HRK">HRK</option>
                    <option value="RUB">RUB</option>
                    <option value="TRY">TRY</option>
                    <option value="AUD">AUD</option>
                    <option value="BRL">BRL</option>
                    <option value="CAD">CAD</option>
                    <option value="CNY">CNY</option>
                    <option value="HKD">HKD</option>
                    <option value="IDR">IDR</option>
                    <option value="ILS">ILS</option>
                    <option value="INR">INR</option>
                    <option value="KRW">KRW</option>
                    <option value="MXN">MXN</option>
                    <option value="MYR">MYR</option>
                    <option value="NZD">NZD</option>
                    <option value="PHP">PHP</option>
                    <option value="SGD">SGD</option>
                    <option value="THB">THB</option>
                    <option value="ZAR">ZAR</option>
                </select>
                <div class="invalid-feedback">
                    Please select a currency.
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <button type="submit" class="btn btn-primary col-md-4">Show Rate</button>
        <button type="reset" class="btn btn-primary col-md-4" value="Reset">Reset</button>
    </form>
    <hr class="mb-4">
{% endblock %}
