{% block content %}
<div class="row row justify-content-center">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Currency Rate</span>
                <span class="badge badge-secondary badge-pill">19</span>
            </h4>
            {exchange}
        </div>
</div>
{% endblock %}